HELP.md
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### VAADIN ###
/package-lock.json
/package.json
/node_modules
/tsconfig.json
/types.d.ts
/vite.config.ts
/vite.generated.ts
/.flow-node-tasks.lock
/src/main/bundles
/src/main/frontend/generated/
/src/main/frontend/index.html
/src/main/frontend/themes/app-theme/theme-editor.css
/.editorconfig
/lib/
/.run/
